body {
    background-image: url('/images/pattern.jpg');
    background-repeat: repeat;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    margin: 0;
}


.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

    .caption h4 {
        white-space: nowrap;
    }

.thumbnail img {
    width: 100%;
}

.addToCart {
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }

footer {
    margin: 50px 0;
}

.navbar {
    background-image: none;
}

.navbar-inverse {
    background-color: #a593c2;
    border-color: #a593c2;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 1.2em;
}

.navbar .nav > li > a {
    font-size: 1.2em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
}

.carousel .item {
    height: 400px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #2600ff !important;
    border-color: #2600ff !important;
}

#leaderboard {
    list-style-type: none;
    padding: 0;
    margin: 100px 0 0 0;
}

.list-group-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2600ff;
    color: rgb(0, 0, 0); /* Change this to the color you want */
    background-color: #509fe9;
}

/* MINE */
.container-fluid {
    height: 100%;
    width: 95%;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}
.slot-machine {
    max-width: 2200px; /* Increased from 400px */
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.slot-machine > img {
    display: block;
    position: relative;
    right: -20px;
    top: 20px;
}

.slotwrapper {
    position: absolute;
    overflow: hidden;
    display: flex;
    height: 300px; /* Increased from 200px */
    width: 93%; /* Adjusted to fit the width of the container */
    bottom: 20px;
    padding: 0 25px;
    margin-left: 22px;
    background: #fff;
}

.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
    width: 200px; /* Increased from 200px */
    height: 200px; /* Increased from 200px */
    line-height: 300px; /* Adjusted to match height */
    text-align: center;
}
.slotwrapper ul li {
    width: 100%; /* Ensure images fill the container */
    height: 140%;
    object-fit: cover; /* Choose the desired behavior */
  }
.slotwrapper ul li img {
    vertical-align: top;
    max-width: 100%; /* Ensures the image fits within the container */
    height: auto;
}

.slotwrapper > ul > li {
    background: #fff;
    font-size: 0.5em;
}

.slot-machine-btn  {
    position: absolute;
    top: 50%;
    right: -70px;
    transform: translate(0, -50%);
    background: transparent;
    border: none;
    width: 100px; /* Increased from 80px */
    margin-top: 70px;
    transition: 0.4s all ease-in-out;
}

.slot-machine-btn.clicked {
    transform: translate(0, -50%) rotateX(190deg);
}

button#btn-example1:hover > img {
    filter: drop-shadow(2px 4px 6px yellow);
}

button#btn-example1 > img {
    transition: 0.4s all ease-in-out;
    user-select: none;
}

:not(button) img {
    pointer-events: none;
}
button:focus {
    /* outline: 1px dotted; */
    /* outline-color: initial; */
    /* outline-style: dotted; */
    /* outline-width: 1px; */
    /* outline: 5px auto -webkit-focus-ring-color; */
    /* outline-color: -webkit-focus-ring-color; */
    /* outline-style: auto; */
    /* outline-width: 5px; */
    outline: none;
}

.box {
    width: 8rem;
  height: 6rem;
  background-color: #a31f08;
  border-radius: 10rem 10rem 0 0;
  margin-right: -0px;
  margin-bottom: -125px;
  z-index: 111;
  }
  .flicker {
    animation: flickerAnimation 15.5s;
}

@keyframes flickerAnimation {
    0% { background-color: #a31f08; }
    50% { background-color: rgb(17, 0, 255); }
    100% { background-color: rgb(255, 187, 0); }
}